<html xmlns:th="http://www.thymeleaf.org">
<!-- (1)共通にしたいheadをfragment化する -->
<head th:fragment="meta_header(title,links,scripts)">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- (2)共通で読み込むCSS/JS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/common.css" />
<link rel="stylesheet" href="/css/style.css" />
<!-- (3)タイトルのフォーマット -->
<title th:text="${title}+' | 勤怠管理システム'">各ページタイトル |</title>
<!-- (4)ページ固有のCSS -->
<th:block th:replace="${scripts} ?: _" />
</head>
<body>
	<!-- (4)body内で共通化したい部品をfragment化する -->
	<th:block th:fragment="pageHeader">
		<header>
			<div class="width">
				<span class="ml-5 pt-3 mt-3" th:text="画面名：+ ${screenName}"></span><br>
				<br> <span class="ml-5" th:text="ログイン者：+ ${userName}"></span>
				<div class="right">
					<form th:action="@{/logout}" class="logout">
						<input type="submit" value=ログアウト name="logout"
							class="btn btn-outline-danger">
					</form>
				</div>
			</div>
		</header>
	</th:block>
	<th:block th:fragment="pageFooter">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
			integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
			integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
			crossorigin="anonymous"></script>
	</th:block>
</body>
</html>