<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>
	<header></header>

	<h1 class="mx-auto mt-5 pt-3 mb-4" style="width: 200px;">ログイン</h1>

	<form th:action="@{/loginConf}" th:object="${KK01001Form}"
		method="post">
		<p th:if="${param.error}" class="error-message ml-5 pl-5">
			ログインに失敗しました。再度入力してください。
		</p>
		<div class="mx-auto" style="width: 200px;">
			社員番号 <input type="text" th:field="*{userId}">
			<!-- 			<span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">userId Error</span> -->
			<br> パスワード <input type="password" th:field="*{password}">
			<!-- 			<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</span> -->
			<br> <br> <input type="submit" value="ログイン"
				class="btn btn-outline-primary .w-25">
		</div>
	</form>

	<footer></footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
