<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>
	<header></header>

	<h1 class="mx-auto mt-5 mb-5" style="width: 200px;">ログイン</h1>

	<form th:action="@{/loginConf}" th:object="${KK01001Form}"
		method="post">
		<p th:if="${param.error}">
			ログインに失敗しました。<br> 再度入力してください。
		</p>
		<div class="mx-auto" style="width: 200px;">
			社員番号 <input type="text" th:field="*{userId}">
			<!-- 			<span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">userId Error</span> -->
			<br> パスワード <input type="password" th:field="*{password}">
			<!-- 			<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</span> -->
			<br> <br> <input type="submit" value="ログイン"
				class="btn btn-outline-primary .w-25">
		</div>
	</form>

	<footer></footer>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>
</html>
