<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>社員一覧</title>
</head>
<body>
	<h1>社員一覧</h1>
	<form th:action="@{/inputWorkReport}" method="post" th:object="${KK03001Form}">
		<table>
			<tr th:each="employeeName : ${employeeNameList}">
				<td><input type="submit" th:value="${employeeName}"
					name="employeeName"></td>
			</tr>
		</table>
		<input type="hidden" th:field="*{year}" name="year">
		<input type="hidden" th:field="*{month}" name="month">
	
	<input type="submit" value=戻る name="back">
	<input type="submit" value=ログアウト name="logout">
	</form>
</body>
</html>