<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>勤務報告書</title>
</head>
<body>
	<form th:action="@{/atode-settei}" th:object="${KK04001Form}"
		method="post">
		<div>
			<h1>勤務報告書</h1>
			<br>
			<p>
				<span th:text="*{workingDate}"></span>
			</p>
			<p>氏名；<span th:text="*{userName}"></span></p>
			<p>
				定時間 <input type="text" name="onTime" th:value="*{teiji}">
			</p>
			<table>
				<tr>
					<th rowspan="2">日付</th>
					<th colspan="2">勤務時間</th>
					<th rowspan="2">休憩時間</th>
					<th rowspan="2">稼働時間</th>
					<th rowspan="2">時間外</th>
					<th rowspan="2">備考</th>
				</tr>
				<tr>
					<th>出社</th>
					<th>退社</th>
				</tr>
				<tr th:each="day : *{TargetMonth}">
					<td th:text="${day}"></td>
					<td th:field="*{ssJkn}"></td>
					<td th:field="*{tsJkn}"></td>
					<td th:field="*{kkJkn}"></td>
					<td th:field="*{kdJkn}"></td>
					<td th:field="*{Jkngi}"></td>
					<td th:field="*{biko}"></td>
				</tr>

				<tr>
					<td colspan="5">合計時間</td>
					<td th:text="*{kdJknKei}"></td>
					<td th:text="*{jkngiKei}"></td>
					<td>プロジェクト名：<input type="text" name="projectName" th:value="*{pjMei}"></td>
				</tr>

				<tr>
					<td colspan="2">特記事項</td>
					<td colspan="5"><textarea rows="3" cols="50"></textarea></td>
			</table>
		</div>
		<input type="button" value="月別一覧へ戻る"> <input type="button"
			value="登録"> <input type="button" value="確定"> <input
			type="button" value="取消">
	</form>
</body>
</html>