<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー登録</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>
	 <div class="mx-auto" style="width: 200px;">
		<h1 class="mx-auto mt-4 pb-3" style="width: 250px;">ユーザー登録</h1>
    
	 <form th:action="@{/registerConf}"method="post">
		<p th:if="${param.error}" class="error-message ml-2 pl-2">
		<!-- 	 エラーの時は「再度入力してください。」コメント表示 -->
		</p>
		
		<!-- エラーがなかったら「登録しました」コメント表示 -->
        <table>
		  <div class="mx-auto" style="width: 200px;"> 
            
            <tr>
			  <td>社員番号</td> <td><input type="text" maxlength="3"></td>
            </tr>
            <tr>
			  <td>メールアドレス</td> <td><input type="text"></td>
            </tr>
            <tr>
			  <td>パスワード</td> <td><input type="password"></td>
            </tr>
            <tr>
			  <td>氏名</td> <td><input type="text"></td>
                           <td><input type="text"></td>
            </tr>
            <tr>
			  <td>権限</td> <td><input type="radio" th:field="*{permissions}" value="管理者" />管理者
                               <input type="radio" th:field="*{permissions}" value="一般" checked/>一般</td>
            <tr>
			
			
	       
          </table>
               
             <input type="submit" value="戻る">
			 <input type="submit" value="登録">
			　
	</form>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>
</html>