<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<head th:replace="common :: meta_header('ユーザー登録',~{::link},~{::script})">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="common :: pageHeader"></div>
<div class="container">
		<h1 class="mx-auto mt-4 pb-3" style="width: 250px;">ユーザー登録</h1>
		
    
	 <form th:action="@{/registerConf}" th:object="${KK06002Form}"
	        method="post">
	    <p th:text ="${message}"></p>
	 
	
		<p th:errors="*{regist}" class="error-message">error!</p>
		<p th:errors="*{checkRepeat}" class="error-message">error!</p>
		<p th:errors="*{password}" class="error-message">error！</p>
		
		<div class="d-flex align-items-center justify-content-center">
        <table>
            
            <tr>
			  <td>社員番号</td> <td><input type="text" th:field="*{userId}" maxlength="4" th:errorclass="error-input"></td>
            </tr>
            <tr>
			  <td>メールアドレス</td> <td><input type="email" th:field="*{mailAddress}" maxlength="50" th:errorclass="error-input"></td>
            </tr>
            <tr>
			  <td>パスワード</td> <td><input type="password" th:field="*{password}" maxlength="20" th:errorclass="error-input"></td>
            </tr>
            <tr>
			  <td>氏名</td> <td><input type="text" th:field="*{sei}" th:errorclass="error-input" maxlength="20"></td>
                           <td><input type="text" th:field="*{mei}" th:errorclass="error-input" maxlength="20"></td>
            </tr>
            <tr>
			  <td>権限</td>
			     <td><div th:each="item : ${radioItems}">
			          <custom-field-radio-list><input type="radio" name="adminFlg" th:value="${item.key}" th:text="${item.value}"
			                 th:field="*{adminFlg}" th:checked="${item.key == '0'}" />
			          </custom-field-radio-list>
			          </div>
			     </td>
            <tr>
			
          </table>
          
          </div><br>
          
          <div class="row justify-content-center">
             <input type="submit" value="戻る" name="back" class="btn btn-outline-secondary" style="width: 150px;">
             <input type="submit" value="登録" name="register" class="btn btn-outline-primary" style="width: 150px;">
          </div>
          
      </form>
     </div>
	<div th:replace="common :: pageFooter"></div>
</body>
</html>
