<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<head th:replace="common :: meta_header('ユーザー登録',~{::link},~{::script})">
<script type="text/javascript" th:src="@{js/script.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
	<div th:replace="common :: pageHeader"></div>
	<div class="container">
		<p class="red mt-3">※は必須入力です</p>
		<form th:action="@{/registerConf}" th:object="${KK06002Form}"
			method="post">
			<p th:text="${message}"></p>
			<p th:errors="*{regist}" class="error-message">error!</p>
			<p th:errors="*{checkRepeat}" class="error-message">error!</p>
			<p th:errors="*{ssJkn}" class="error-message">error!</p>
			<p th:errors="*{password}" class="error-message">error！</p>
			<p th:errors="*{mailAddress}" class="error-message">error！</p>
			
		<h3 class="mt-4 pb-3" style="width: 250px;">ユーザー登録</h3>
			<div
				class="d-flex align-items-center justify-content-center mb-4 center">
				<span>社員</span><input type="text" name="searchEmpId"
					class="ml-4 mr-4"> <input type="submit" value="検索"
					name="search" class="btn btn-outline-secondary">
			</div>
			<hr>
			<div class="d-flex align-items-center justify-content-center">
				<table>
					<tr>
						<td>社員番号<span class="red">※</span></td>
						<td><input type="text" th:value="*{userId}" name="userId"
							maxlength="4" th:errorclass="error-input"
							th:disabled="*{updateFlg}==1" class="ml-5"></td>
					</tr>
					<tr>
						<td>メールアドレス<span class="red">※</span></td>
						<td><input type="email" th:value="*{mailAddress}"
							name="mailAddress" maxlength="50" th:errorclass="error-input"
							class="ml-5"></td>
					</tr>
					<tr>
						<td>パスワード<span class="red">※</span></td>
						<td><input type="password" th:value="*{password}"
							name="password" maxlength="20" th:errorclass="error-input"
							th:disabled="*{updateFlg}==1" class="ml-5"></td>
					</tr>
					<tr>
						<td>氏名<span class="red">※</span></td>
						<td><input type="text" th:value="*{sei}" name="sei"
							th:errorclass="error-input" maxlength="20" class="ml-5"></td>
						<td><input type="text" th:value="*{mei}" name="mei"
							th:errorclass="error-input" maxlength="20" class="ml-2"></td>
					</tr>
					<tr>
						<td>権限<span class="red">※</span></td>
						<td><div th:each="item : ${radioItems}">
								<custom-field-radio-list> <input
									type="radio" name="adminFlg" th:value="${item.key}"
									th:text="${item.value}" th:field="*{adminFlg}"
									th:checked="${item.key == '0'}" class="ml-5" /> </custom-field-radio-list>
							</div></td>
					<tr>
				</table>

			</div>
			<br>
			<!-- ロケーション情報 -->
			<h3 class="mt-4 pb-3" style="width: 250px;">サイト情報</h3>
			<div class="d-flex align-items-center justify-content-center">
				<table>
					<tr>
						<td>取引先<span class="red">※</span></td>
						<td><select th:field="*{supplierCode}" class="ml-5" id="supplierCode" name="supplierCode">
								<option value=""></option>
								<option th:each="supInfo: *{supplierMap}"
									th:value="${supInfo.key}" th:text="${supInfo.value}"
									th:selected="${supInfo.key == supplierCode}"></option>
						</select></td>
					</tr>
					<tr>
						<td>ロケーション<span class="red">※</span></td>
						<td>
							 <div id="resultDiv">
               					<div th:substituteby="select_Ajax::selectAjaxBody" th:fragment="selectAjax"></div>
        					</div>
        				</td>
					</tr>
					<tr>
						<td>定時間(8:00形式)<span class="red">※</span></td>
						<td><input type="text" th:value="*{teiji}" name="teiji"
							class="ml-5" maxlength="4" onfocus="offColon(this);"
							onblur="toColon(this);workTimeCalc()"
							oninput="value = value.replace(/[^0-9]+/i,'');"></td>
					</tr>
					<tr>
						<td>定時間(8.00形式)<span class="red">※</span></td>
						<td><input type="text" th:value="*{teijiDecimalNumber}"
							name="teijiDecimalNumber" maxlength="4" class="ml-5">
					</tr>
					<tr>
						<td>出社時間<span class="red">※</span></td>
						<td><input type="text" th:value="*{ssJkn}" name="ssJkn"
							class="ml-5" maxlength="4" onfocus="offColon(this);"
							onblur="toColon(this);workTimeCalc()"
							oninput="value = value.replace(/[^0-9]+/i,'');">
					</tr>
					<tr>
						<td>退社時間<span class="red">※</span></td>
						<td><input type="text" th:value="*{tsJkn}" name="tsJkn"
							class="ml-5" maxlength="4" onfocus="offColon(this);"
							onblur="toColon(this);workTimeCalc()"
							oninput="value = value.replace(/[^0-9]+/i,'');">
					</tr>
					<tr>
						<td>休憩時間<span class="red">※</span></td>
						<td><input type="text" th:value="*{kkJkn}" name="kkJkn"
							class="ml-5" maxlength="4" onfocus="offColon(this);"
							onblur="toColon(this);workTimeCalc()"
							oninput="value = value.replace(/[^0-9]+/i,'');">
					</tr>
				</table>
			</div>
			<h3 class="mt-4 pb-3" style="width: 250px;">ユニット情報</h3>
			<div class="d-flex align-items-center justify-content-center">
				<table>
					<tr>
						<td>ユニット長</td>
						<td><select th:field="*{leaderUserId}" class="ml-5">
								<option value=""></option>
								<option th:each="userInfo: *{userMap}"
									th:value="${userInfo.key}" th:text="${userInfo.value}"
									th:selected="${userInfo.key == leaderUserId}"></option>
						</select></td>
					</tr>
					<tr>
						<td>取引先</td>
						<td><select th:field="*{assignmentLocationUserId}"
							class="ml-5">
								<option value=""></option>
								<option th:each="supInfo: *{supplierMap}"
									th:value="${supInfo.key}" th:text="${supInfo.value}"
									th:selected="${supInfo.key == assignmentLocationUserId}"></option>
						</select></td>
					</tr>
				</table>
			</div>
			<div class="row justify-content-center mt-5 mb-5">
				<input type="submit" value="戻る" name="back"
					class="btn btn-light mr-3"> <input type="submit"
					value="クリア" name="clear" class="btn btn-outline-secodary mr-3"
					th:disabled="*{updateFlg}==0"> <input type="submit"
					value="登録" name="register" class="btn btn-outline-primary ml-4"
					th:disabled="*{updateFlg}==1"> <input type="submit"
					value="更新" name=update class="btn btn-outline-primary ml-4"
					th:disabled="*{updateFlg}==0">
			</div>
			<input type="hidden" th:field="*{userId}" name="userId">

		</form>
	</div>
	<div th:replace="common :: pageFooter"></div>
	<script>
$(function () {
    $("#supplierCode").change(function() {
        $.ajax({
            type: "GET",
            url: "select",
            data: "supplierCode=" + $("#supplierCode").val(),
            dataType : "html",
            success : function(data,status,xhr) {
                $("#resultDiv").html(data);
         },
       error : function(XMLHttpRequest, textStatus, errorThrown) {
                 alert("error:" + XMLHttpRequest + "/" + textStatus + "/" + errorThrown);
       }
});
});
});

</script>
</body>
<meta th:name="_csrf" th:content="${_csrf.token}"/>
<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</html>
