<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>パスワード変更</title>
</head>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />


<body>
<h1>パスワード変更</h1>

<!-- 
・現在のパスワードがDBに無い場合エラーメッセージを表示
・現在のパスワードと新しいパスワードが同じ場合エラーメッセージを表示
・新しいパスワードと確認用に入力された値が異なる場合エラーメッセージを表示

・登録が終わったら変更完了メッセージを表示
 -->

<form th:action=@{KK06001}>

<table>
	<tr>
		<th align="left">現在のパスワード：</th>
		<th><input type="password"></th>
	</tr>

	<tr>
		<th align="left">新しいパスワード：</th>
		<th><input type="password"></th>
	</tr>

	<tr>
		<th align="left" >確認用：</th>
		<th><input type="password"></th>
	</tr>

</table>

<br>

<input type="submit" value="OK">
<input type="submit" value="戻る" name="back" formaction="KK05001">

</form>

</body>
</html>