<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>月別一覧</title>
</head>
<body>
<h1>月別一覧</h1>

<form>
<a href="URL">2020年10月</a>
<br><br>
<a href="URL">2020年9月</a>
<br><br>
<a href="URL">2020年8月</a>
<br><br>
<a href="URL">2020年7月</a>
<br><br>
<a href="URL">2020年6月</a>
<br><br>
<a href="URL">2020年5月</a>
<br><br>
<a href="URL">2020年4月</a>
<br><br>
<a href="URL">2020年3月</a>
<br><br>
<a href="URL">2020年2月</a>
<br><br>
<a href="URL">2020年1月</a>
<br><br>
<a href="URL">2019年12月</a>
<br><br>
<a href="URL">2019年11月</a>
<br><br>

<input type="submit" value=ログアウト>
</form>
</body>
</html>