<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.senshinsoft.persistence.SiteMapper">
<select id="findLocationList"
		resultType="String">
		SELECT
			location_code
		FROM
			site
		WHERE
			supplier_code=#{supplierCode}
		AND 
			site_deleted=0;
</select>

</mapper>